.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4px;
  background: transparent;
  z-index: 9999;
}

.progress {
  height: 100%;
  background: linear-gradient(90deg, #ffb347 0%, #D35400 100%);
  border-radius: 2px;
  transition: width 0.22s cubic-bezier(.25,.8,.25,1);
}
